/*Background images (Non-Parallax)*/
.intro-bg {
	background-image: url('../img/breesyBackground.png');
	min-height: 600px;
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.creditText {
	font-size: 50%;
	color: grey;
	text-shadow: 2px 2px 4px #000000;
}
